<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drought</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/drought.css')}}">
</head>
<body>
    <div class="drought-container">
        <form action="{{ url_for('drought_disaster') }}" class="drought-left" method="POST">
            <div class="drought-left-title">
                <h2>Drought Prediction</h2>
                <hr>
            </div>
            <input type="number" name="precipitation" placeholder="Enter precipitation(mm)" class="drought-inputs" required>
            <input type="number" name="min-temparature" placeholder="Enter min-temparature" class="drought-inputs" required>
            <input type="number" name="max-temparature" placeholder="Enter max-temparature" class="drought-inputs" required>
            <button type="submit">Submit</button>

            <!-- Section to display the prediction result or error message -->
            <h2>Prediction Result</h2>
            {% if prediction %}
                <p>There is a chance of a drought with a severity of: <strong>{{ prediction }}</strong>.</p>
                <p>It is expected to be <strong>{{ severity }}</strong></p>

            {% endif %}

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

        </form>
        <div class="drought-right">
            <video autoplay loop muted width="80%" height="auto"><source src="{{url_for('static', filename = 'videos/drought.mp4')}}" type="video/mp4">
        </div>
    </div>
</body>
</html>