<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/rainfall.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
     <header class=" header-new" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <image src="{{url_for('static', filename = 'images/Pralay.jpeg')}}" alt="">
                <span>PralaySePhle</span>
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" target="_blank" class="nav__link">>
                            <i class='bx bx-home'></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/drought" target="_blank" class="nav__link">>
                            <i class='bx bxs-shield-alt-2'></i>
                            <span>Drought</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/storm" target="_blank" class="nav__link">>
                            <i class='bx bx-message-square'></i>
                            <span>Hurricane</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/earthquake" target="_blank" class="nav__link">>
                            <i class='bx bxs-phone'></i>
                            <span>Earthquake</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Theme change button-->
            <i class='bx bx-moon change-theme' id="theme-button"></i>

            <a href="#" class="button nav__button">Subscribe</a>
        </nav>
    </header>


    <div class="rainfall-container">
        <form action="{{ url_for('flood_disaster') }}" class="subdivision-left" method="POST">
            <div class="rainfall-left-title">
                <h2>Flood Prediction</h2>
                <hr>
            </div>
            <input type="number" name="a1" placeholder="Enter the annual amount of rainfall" class="subdivision-inputs" required>
<!--            <input type="number" name="a2" placeholder="Enter amount of rainfall for February" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a3" placeholder="Enter amount of rainfall for March" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a4" placeholder="Enter amount of rainfall for April" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a5" placeholder="Enter amount of rainfall for May" class="subdivision-inputs" required>-->
            <button type="submit">Submit</button>
             <!-- Section to display the prediction result or error message -->
            <h2 class="para">Prediction Result</h2>
            {% if prediction %}
            <p class="para">The expected output is: <strong>{{ prediction }}</strong>.</p>
            <p class="para"><strong>{{ severity }}</strong>.</p>
            {% endif %}

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        <div class="subdivision-right">
            <video autoplay loop muted width="80%" height="auto"><source src="{{url_for('static', filename = 'videos/flood.mp4')}}" type="video/mp4">

            </video>
        </div>
    </div>
    <footer class="footer section">
            <div class="footer__info container">
                <span class="footer__copy1">
                    &#169; Pralay. All rights reserved
                </span>

                <div class="footer__privacy1">
                    <a href="#">Terms & Agreements</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </footer>
</body>
</html>