<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/rainfall.css')}}">
</head>
<body>
    <div class="rainfall-container">
        <form action="{{ url_for('flood_disaster') }}" class="subdivision-left" method="POST">
            <div class="rainfall-left-title">
                <h2>Flood Prediction</h2>
                <hr>
            </div>
            <input type="number" name="a1" placeholder="Enter the annual amount of rainfall" class="subdivision-inputs" required>
<!--            <input type="number" name="a2" placeholder="Enter amount of rainfall for February" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a3" placeholder="Enter amount of rainfall for March" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a4" placeholder="Enter amount of rainfall for April" class="subdivision-inputs" required>-->
<!--            <input type="number" name="a5" placeholder="Enter amount of rainfall for May" class="subdivision-inputs" required>-->
            <button type="submit">Submit</button>
             <!-- Section to display the prediction result or error message -->
            <h2>Prediction Result</h2>
            {% if prediction %}
            <p>The expected output is: <strong>{{ prediction }}</strong>.</p>
            <p><strong>{{ severity }}</strong>.</p>
            {% endif %}

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        <div class="subdivision-right">
            <video autoplay loop muted width="80%" height="auto"><source src="{{url_for('static', filename = 'videos/flood.mp4')}}" type="video/mp4">

            </video>
        </div>
    </div>
</body>
</html>