<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyclone</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/storm.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>

    <header class=" header-new" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <image src="{{url_for('static', filename = 'images/Pralay.jpeg')}}" alt="">
                    <span>PralaySePhle</span>
                </a>
                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" target="_blank" class="nav__link">>
                                <i class='bx bx-home'></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="/drought" target="_blank" class="nav__link">>
                                <i class='bx bxs-shield-alt-2'></i>
                                <span>Drought</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="/rainfall" target="_blank" class="nav__link">>
                                <i class='bx bx-message-square'></i>
                                <span>Flood</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="/earthquake" target="_blank" class="nav__link">>
                                <i class='bx bxs-phone'></i>
                                <span>Earthquake</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--Theme change button-->
                <i class='bx bx-moon change-theme' id="theme-button"></i>

                <a href="#" class="button nav__button">Subscribe</a>
            </nav>
        </header>

    <div class="storm-container">
        <form action="{{ url_for('cyclone_disaster') }}" class="storm-left" method="POST">

            <div class="storm-left-title">
                <h2>Cyclone Prediction</h2>
                <hr>
            </div>
            <input type="number" name="wind-speed-eastward" placeholder="Enter wind-speed in Eastward(m/s)" class="storm-inputs" required>
            <input type="number" name="wind-speed-northward" placeholder="Enter wind-speed in Northward(m/s)" class="storm-inputs" required>
            <input type="number" name="sealevel-pressure" placeholder="Enter sealevel-pressure(pascals)" class="storm-inputs" required>
            <input type="number" name="distance-weight" placeholder="Enter distance-weight(0 to 1)" class="storm-inputs" required>
            <button type="submit">Submit</button>
            <!-- Section to display the prediction result or error message -->
            <h2 class="para">Prediction Result</h2>
            {% if prediction %}
                <p class="para">There is a chance of a cyclone with a severity of: <strong>{{ prediction }} mph</strong>.</p>
                <p class="para">It is expected to be <strong>{{ severity }}</strong></p>

            {% endif %}

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        <div class="storm-right">
            <video autoplay loop muted width="80%" height="auto"><source src="{{url_for('static', filename = 'videos/cyclone.mp4')}}" type="video/mp4">
        </div>
    </div>

    <footer class="footer section">
            <div class="footer__info container">
                <span class="footer__copy1">
                    &#169; Pralay. All rights reserved
                </span>

                <div class="footer__privacy1">
                    <a href="#">Terms & Agreements</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </footer>

</body>
</html>